---
const { id, ...rest } = Astro.props;
---
<h5 class="scroll-m-20 text-lg font-semibold tracking-tight mt-6 mb-3 group flex items-center" id={id} {...rest}>
  <slot />
  {id && (
    <a
      href={`#${id}`}
      class="ms-2 md:invisible group-hover:visible"
      aria-hidden="true"
      data-anchor-id={id}
    >
      <span class="text-muted-foreground hover:text-foreground">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
          <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
        </svg>
      </span>
    </a>
  )}
</h5>

<script>
  document.querySelectorAll('[data-anchor-id]').forEach(link => {
    link.addEventListener('click', (e) => {
      e.preventDefault();
      const id = link.getAttribute('data-anchor-id');
      const url = `${window.location.origin}${window.location.pathname}#${id}`;
      void navigator.clipboard.writeText(url);
      window.location.hash = id!;
    });
  });
</script>
